
.git
.gitignore

__pycache__
*.py[cod]
*.pyo
*.pyd
.venv
venv

tests
.pytest_cache
.coverage
coverage.xml
htmlcov
.mypy_cache
.pyright
.ruff_cache

.env
.env.*
!.env.example
!.env.test.example
!.env.production.example

*.db
*.sqlite
*.sqlite3
postgres_data
tmp
logs

.vscode
.idea
.DS_Store
